<div>
<div class="fp-group-header" ng-style="{'border-color':targetGroup.color}">
	<span>{{targetGroup.name}} > {{targetItem.name}}</span>
	 <a class="btn-modern fp-btn fp-btn-right" ng-click="close()">x</a>
</div>
<hr style="margin-top:4px" ng-if="data.length<=10">
<div ng-if="data.length>10" class="fp-align-center">
	<!-- ng-if creates its own child scope. So use $parent.search here. -->
	<input class="fp-input" ng-model="$parent.search[nameKey]"></input>
</div>
<div class="fp-entry" ng-repeat-start="item in filteredItems=(data | orderBy:nameKey | filter:search | filter:pagination.limit)" flex-popover-post-repeat>
	<!-- $event.stopPropagation(); makes text selectable in a draggable container -->
	<span class="selectable" ng-style="{'font-weight':item.show?'bold':''}" ng-mousedown="$event.stopPropagation();">{{item[nameKey]}}</span>
	<a class="btn-modern fp-btn fp-btn-right" ng-click="item.show=!item.show">
		<span ng-if="!item.show">+</span>
		<span ng-if="item.show">-</span>
	</a>
</div>
<div ng-if="item.show">
	<table class="fp-item-table">
		<tbody>
			<tr ng-repeat="(key,val) in validateKey(item)">
					<td><span class="selectable" ng-mousedown="$event.stopPropagation();">{{key}}</span></td>
					<td>
						<a ng-if="expand"><span ng-click="$parent.expand=false"><</span></a>
						<span ng-if="formatVal(val).length<=50 || expand" class="selectable" ng-mousedown="$event.stopPropagation();">{{formatVal(val)}}</span>
						<span ng-if="formatVal(val).length>50&&!expand" class="selectable" ng-mousedown="$event.stopPropagation();">{{formatVal(val).slice(0,50)}}</span>
						<a ng-if="formatVal(val).length>50" ng-click="$parent.expand=!$parent.expand">
							<span ng-if="!$parent.expand">...</span>
							<span ng-if="$parent.expand"><</span>
						</a>
					</td>
			</tr>
		</tbody>
	</table>
</div>
<div ng-repeat-end=""></div>
<div class="fp-align-center" ng-if="pagination.matchedSize>pagination.perPageCount&&filteredItems.length">
<a class="btn-modern fp-btn disabled" ng-class="pagination.limitLower>0?'':'disabled'" ng-click="pagination.previous()"><</a> <span class="fp-pagination-span">{{pagination.limitLower}} to {{pagination.limitUpper>pagination.matchedSize?pagination.matchedSize:pagination.limitUpper}} of {{pagination.matchedSize}}</span>
<a  ng-class="pagination.limitUpper>=pagination.matchedSize?'disabled':''"  class="btn-modern fp-btn" ng-click="pagination.next()">></a>
</div>
</div>